{extends file="base.html"}
{block name=styles}
<link href="assets/css/fineuploader-3.3.0.css" rel="stylesheet"/>
<style>
{literal}
    /* Fine Uploader
     -------------------------------------------------- */
    .qq-upload-list {
        text-align: left;
    }
    
    /* For the bootstrapped demos */
    li.alert-success {
        background-color: #DFF0D8;
    }
    
    li.alert-error {
        background-color: #F2DEDE;
    }
    
    .alert-error .qq-upload-failed-text {
        display: inline;
    }
{/literal}
</style>
{/block}

{block name=scripts}
<script src="assets/js/jquery.fineuploader-3.3.0.js"></script>
{/block}

{block name=content}
{if isset($username)}
<div id="bootstrapped-fine-uploader"></div>
    
<script>
{* Jquery plugin allowing nice and easy asynchronous file upload. *}
{literal}
    $(document).ready(function () {
        $('#bootstrapped-fine-uploader').fineUploader({
           request: {
               endpoint: 'file_upload.php'
           },
           text: {
               uploadButton: '<div><i class="icon-upload icon-white"></i>Upload new images</div>'
           },
           template: '<div class="qq-uploader span11">' +
           '<pre class="qq-upload-drop-area span11"><span>{dragZoneText}</span></pre>' +
           '<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
           '<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
           '<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
           '</div>',
           classes: {
               success: 'alert alert-success',
               fail: 'alert alert-error'
           }
       });
    })
{/literal}
</script>
{/if}
<ul class="thumbnails">
<div class="row">
{foreach from=$images key=i item=img}
    <li class="span3">
        <div class="thumbnail">
            <a href="{$UPLOAD_FOLDER}/{$img['filename']}">
            <img src="{$THUMBNAIL_FOLDER}/{$img['filename']}" alt="">
        </a>
        <div class="caption">
            <p>User: <a href="user.php?u={$img['username']}">{$img['username']}</a></p>
            {if $username == $img['username']}
        <form action="change_image.php" method="POST" style="margin-bottom:0">
            {/if}
            <p {if $username == $img['username']} class="cmtedit"{/if}>{$img['desc']}</p>
            {if $username == $img['username']}
            <input type="hidden" name="img" value="{$img['img']}"/>
            <input class="btn btn-info"
            type="submit" name="change" value="Change description" />
            <input class="btn btn-danger"
            type="submit" name="delete" value="Delete" />
            {/if}
        </form>
        </div>
    </div>
    </li>
    {if ($i % 4) == 3}
    </div><div class="row">
    {/if}

{/foreach}
</div>
</ul></div>
<script>
    {literal}
    $(document).on('click', '.cmtedit', function (e) {
        MakeEditable(this);
    });

    function MakeEditable(obj) {
        var input = $('<input />', { 'type': 'text', 'name': 'desc', 'class': 'text_box', 'value': $(obj).html() });
        $(input).insertBefore(obj);
        $(obj).remove();
        input.focus();
    }
    {/literal}
</script>
{/block}
