{extends file="base.html"}
{block name=content}
<div class="container">

    <form method="post" style="max-width: 300px" action="register.php">
        <h2 class="form-signin-heading">Registration</h2>
        <input type="text" class="input-block-level" name="username" placeholder="Username">
        <input type="password" class="input-block-level" name="password" placeholder="Password">
        <button class="btn btn-large btn-primary" type="submit">Register</button>
    </form>

</div> <!-- /container -->
{/block}
